absl-py==0.1.13
apiai==1.2.3
asn1crypto==0.24.0
aspy.yaml==1.0.0
astor==0.6.2
atomicwrites==1.1.5
attrs==18.1.0
Automat==0.7.0
bcrypt==3.1.4
beautifulsoup4==4.6.0
bleach==1.5.0
bs4==0.0.1
cached-property==1.3.1
certifi==2017.11.5
cffi==1.11.4
chardet==3.0.4
click==6.7
cloudpickle==0.6.1
cmake==3.12.0
colorama==0.3.9
constantly==15.1.0
crontab==0.22.1
cryptography==2.2.2
cssselect==1.0.3
cycler==0.10.0
dask==0.20.0
decorator==4.3.0
Django==2.0.1
dlib==19.8.1
EasyProcess==0.2.3
entrypoints==0.2.3
eventlet==0.23.0
ffmpeg-python==0.1.16
ffmpy==0.2.2
Flask==0.12.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
future==0.17.0
gast==0.2.0
greenlet==0.4.13
grpcio==1.10.0
gunicorn==19.7.1
h5py==2.7.1
html5lib==0.9999999
hyperlink==18.0.0
identify==1.0.7
idna==2.6
imutils==0.4.6
incremental==17.5.0
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.5
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
joblib==0.12.2
json-tricks==3.12.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.5
lxml==4.1.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.8.3
mock==2.0.0
more-itertools==4.3.0
music21==5.3.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
nltk==3.3
nodeenv==1.2.0
notebook==5.2.2
np-utils==0.5.5.2
numpy==1.14.2
opencv-python==3.4.0.12
otpauth==1.0.1
pafy==0.5.3.1
pandas==0.22.0
pandocfilters==1.4.2
parsel==1.4.0
parso==0.1.1
pbr==4.2.0
pickleshare==0.7.4
Pillow==5.1.0
pluggy==0.7.1
pocketsphinx==0.1.15
pre-commit==1.5.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
PuLP==1.6.8
py==1.5.2
pyasn1==0.4.3
pyasn1-modules==0.2.2
PyAutoGUI==0.9.36
pycparser==2.18
PyDispatcher==2.0.5
pydub==0.23.0
pygame==1.9.4
Pygments==2.2.0
PyJWT==1.6.1
pymessenger==1.0.0
pymongo==3.6.0
PyMsgBox==1.0.6
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyperclip==1.6.2
PyScreeze==0.1.14
PySocks==1.6.8
PySoundFile==0.9.0.post1
pytest==3.7.1
python-dateutil==2.6.1
python-engineio==2.2.0
python-socketio==2.0.0
python3-xlib==0.15
pytube==9.1.0
PyTweening==1.0.3
pytz==2017.3
PyVirtualDisplay==0.2.1
PyWavelets==1.0.1
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
queuelib==1.5.0
requests==2.18.4
requests-toolbelt==0.8.0
scikit-criteria==0.2.10
scikit-image==0.14.1
scikit-learn==0.19.1
scipy==1.0.1
selenium==3.8.0
service-identity==17.0.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
SpeechRecognition==3.8.1
tabulate==0.8.2
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
testpath==0.3.1
Theano==1.0.1+81.gf2a2df153
toolz==0.9.0
tornado==4.5.2
tox==2.9.1
tqdm==4.19.5
traitlets==4.3.2
translate==3.5.0
translation==1.0.5
twilio==6.11.0
urllib3==1.22
virtualenv==15.1.0
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.13
widgetsnbextension==3.0.8
youtube-dl==2018.11.7
zope.interface==4.5.0
