gunicorn==19.7.1
aspy.yaml==1.1.1
cached-property==1.5.1
certifi==2018.10.15
cfgv==1.1.0
chardet==3.0.4
Click==7.0
ffmpeg-python==0.1.16
filelock==3.0.10
Flask==1.0.2
future==0.17.1
identify==1.1.7
idna==2.7
importlib-metadata==0.6
importlib-resources==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.1.0
nodeenv==1.3.3
pafy==0.5.4
pluggy==0.8.0
pre-commit==1.12.0
py==1.10.0
pydub==0.23.0
PyYAML==3.13
requests==2.20.1
six==1.11.0
SpeechRecognition==3.8.1
toml==0.10.0
tox==3.5.3
translate==3.5.0
urllib3==1.24.1
virtualenv==16.1.0
Werkzeug==0.14.1
youtube-dl==2018.11.23