<!DOCTYPE html>
<html>
<head>
	<title>home</title>
</head>
<body>
	<h1><center>Welcome to पाठशाला</center><h1>
<p><center>This site is used to convert a english video to a hindi text file.</center><br>
	<center>इस साइट का उपयोग एक अंग्रेजी वीडियो को एक हिंदी पाठ फ़ाइल में परिवर्तित करने के लिए किया जाता है।</center><br>
</p>
<form action="home" method="POST">
	<LABEL align="middle">Video Link:</LABEL>
	<input id="vidlink" name="vidlink" required>
	<button type="SUBMIT" align="middle">SUBMIT</button>
	<br>
</form>
</body>
</html>

